<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=”main.css” rel=”stylesheet”>
</head>
<body class="grey-bg">
   <!-- <%= JSON.stringify(post)%>-->
    <div class="white-bg">
       <% for(let i=0; i< post.length; i++){ %>
      <div class="list-box">
        <h4> <%= post[i].title%></h4>
        <p> <%= post[i].content%></p>
      </div>
    <% } %>
      
    </div> 
  
  </body>
</html>